@charset "UTF-8";
body {
    background-color: aliceblue;
}

header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

main {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}

main section {
    background-color: aquamarine;
    height: 200px;
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

main section a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: blueviolet;
    transition: 0.4;
}

main section a:hover {
    font-size: 110%;
    background-color: brown;
}